CONFIG_CCFLAGS=-g -O0 -fsanitize=address,undefined `pkg-config --cflags gl libpng sdl2` -DTGL_USE_EPOXY
CONFIG_LDFLAGS=-g -O0 -fsanitize=address,undefined `pkg-config --libs gl libpng sdl2` -DTGL_USE_EPOXY
CONFIG_DEMO_CCFLAGS=`pkg-config --cflags bullet libuv`
CONFIG_DEMO_LDFLAGS=`pkg-config --libs bullet libuv`
CONFIG_BUILD_DEMOS=1
