CONFIG_TUP_PLATFORM=win32
CONFIG_CC=x86_64-w64-mingw32-gcc
CONFIG_CXX=x86_64-w64-mingw32-g++
CONFIG_AR=x86_64-w64-mingw32-ar rcs
CONFIG_CCFLAGS=-g -O0 -DWIN32 `x86_64-w64-mingw32-pkg-config --cflags gl libpng sdl2` -DTGL_USE_EPOXY
CONFIG_LDFLAGS=-g -O0 -lmingw32 -lSDL2main `x86_64-w64-mingw32-pkg-config --libs gl libpng sdl2` -DTGL_USE_EPOXY /usr/x86_64-w64-mingw32/bin/libepoxy-0.dll -lopengl32 -lBulletDynamics -lBulletCollision -lLinearMath -lBulletSoftBody -L/usr/x86_64-w64-mingw32/lib -lSDL2 -mwindows
CONFIG_PROG_SUFFIX=.exe
