CONFIG_CC=x86_64-w64-mingw32-gcc
CONFIG_CXX=x86_64-w64-mingw32-g++
CONFIG_AR=x86_64-w64-mingw32-ar rcs
CONFIG_CCFLAGS=-g -O0 -DWIN32
CONFIG_LDFLAGS=-g -O0 -lmingw32 -lSDL2main
CONFIG_PKG_CONFIG=x86_64-w64-mingw32-pkg-config
CONFIG_PROG_SUFFIX=.exe
CONFIG_LOADER=EPOXY
CONFIG_LOADER_LIBS=/usr/x86_64-w64-mingw32/bin/libepoxy-0.dll
CONFIG_GL_CFLAGS=
CONFIG_GL_LIBS=-lopengl32
CONFIG_BULLET_CFLAGS=
CONFIG_BULLET_LIBS=-lBulletDynamics -lBulletCollision -lLinearMath -lBulletSoftBody
CONFIG_SDL_LIBS=-L/usr/x86_64-w64-mingw32/lib -lSDL2 -mwindows
